<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">

		<title>d3-transition demo</title>
		<link rel="stylesheet" href="../static/button.css"/>
		<link rel="stylesheet" href="../static/dy-01.css" />
		<script src="../static/jquery-1.8.min.js">
		</script>


	</head>
	<body>
		<svg id="viz" width="500" height="300"></svg>
		<script src="../static/D3/d3.v2.min.js"></script>
		<script src="../static/dy-01.js"></script>
		<div id="viz">
		</div>
		 <button id="btn1" class="first last">
		 </button>
	</body>
</html>


